.polaroid,
.polaroid-disabled,
.polaroid:hover,
.polaroid:visited {
  text-decoration: none;
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.polaroid.link:hover {
  cursor: pointer;
  opacity: 0.5;
}

.polaroid-disabled {
  filter: grayscale(100%);
}

.polaroid img,
.polaroid-disabled img {
  max-height: 250px;
}

.polaroid p,
.polaroid-disabled p {
  background-color: #0e1923;
}
