.polaroid,
.polaroid-disabled {
  max-height: 250px;
}

.polaroid:hover {
  cursor: pointer;
  opacity: 0.5;
}

.polaroid-disabled {
  filter: grayscale(100%);
}

.link,
.link:hover,
.link:visited {
  text-decoration: none;
  color: white;
}
