body {
  background-color: #081017;
  user-select: none;
  color: white;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: white;
}

.container {
  background-color: #0e1923;
  min-height: 100vh;
}
